extends layout

block content
  .container-fluid
    .row
      .col-xs-1
        ul#sections.nav.nav-tabs.tabs-left.sideways
          each item,key in sections
              li(class="#{key==='hall' ? 'active': ''}"): a(href="#{'#'+key}", data-toggle="tab") #{key.toUpperCase()}
      .col-xs-11
        .tab-content
          each item,key in sections
              .tab-pane(class="#{key==='hall' ? 'active': ''}")(id="#{key}")
                h4 #{key.toUpperCase()} VIEW
                  .row
                    .col-xs-8
                      each img in item.images
                        div.img-placeholder(data-items-overlay)
                          img.img-thumb.lazyload(data-src="/images/#{key}/#{img}")
                          div.img-title= img
                    .col-xs-4
                      ul.list-group
                        li.list-group-item(ng-repeat="i in m.itemsData") {{i}}